In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('quikr_car.csv')
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

# Quality
- year has many non-year values
- year object to int
- price has Ask for Price
- Price Object to int
- kms_driven has Kms with integres
- kms_driven object to int
- kms_driven has nan_values
- fuel_types has nan values
- keep first 3 words of name

In [3]:
car = df.copy()

# Cleaning the data

In [4]:
car = car[car['year'].str.isnumeric()]

In [5]:
car['year'] = car['year'].astype(int)

In [6]:
car = car[car['Price']!= 'Ask For Price']

In [7]:
car['Price'] = car['Price'].str.replace(',', '').astype(int)

In [8]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')
# '80,000 Kms'
# ['80,000', 'Kms']
# '80,000'
# '80000' - str
# 80000 - int

In [9]:
car = car[car['kms_driven']!= 'Petrol']

In [10]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [12]:
car = car.dropna()

In [13]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [14]:
car.head(10)

                      name   company  year   Price  kms_driven fuel_type
0      Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1      Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3        Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4   Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                Ford Figo      Ford  2012  175000       41000    Diesel
7              Hyundai Eon   Hyundai  2013  190000       25000    Petrol
8   Ford EcoSport Ambiente      Ford  2016  830000       24530    Diesel
9       Maruti Suzuki Alto    Maruti  2015  250000       60000    Petrol
10     Skoda Fabia Classic     Skoda  2010  182000       60000    Petrol
11  Maruti Suzuki Stingray    Maruti  2015  315000       30000    Petrol

In [15]:
car = car.reset_index(drop= True)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [17]:
car = car[car['Price']<6e6].reset_index(drop= True)

In [18]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [19]:
car.to_csv('Cleaned Car.csv')

# Model

In [20]:
x = car.drop(columns = 'Price')
y = car['Price']

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [23]:
ohe = OneHotEncoder()
ohe.fit(x[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [24]:
column_trans = make_column_transformer((OneHotEncoder(categories= ohe.categories_), ['name', 'company', 'fuel_type']),
                                         remainder= 'passthrough')

In [25]:
rf = RandomForestRegressor()

In [26]:
pipe = make_pipeline(column_trans, rf)

In [27]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('randomforestregressor', RandomForestRegressor())])

In [28]:
y_pred = pipe.predict(x_test)

In [29]:
r2_score(y_test, y_pred)

0.6474517436747629

In [30]:
import pickle

In [31]:
pickle.dump(pipe, open('RandomForestModel.pkl', 'wb'))

In [32]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift', 'Maruti', 2019, 100, 'Petrol']], columns = ['name', 'company', 'year', 'kms_driven', 'fuel_type']))

array([620985.])